ul li{
  list-style-type: none;
}
button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  position: center;
}
 button {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
 button:focus,
 button.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
 button:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
 button:active,
 button.active,
.open > .dropdown-toggle button {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
 button:active:hover,
 button.active:hover,
.open > .dropdown-toggle button:hover,
 button:active:focus,
 button.active:focus,
.open > .dropdown-toggle button:focus,
 button:active.focus,
 button.active.focus,
.open > .dropdown-toggle button.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
 button:active,
 button.active,
.open > .dropdown-toggle button {
  background-image: none;
}
 button.disabled:hover,
 button[disabled]:hover,
fieldset[disabled]  button:hover,
 button.disabled:focus,
 button[disabled]:focus,
fieldset[disabled]  button:focus,
 button.disabled.focus,
 button[disabled].focus,
fieldset[disabled]  button.focus {
  background-color: #fff;
  border-color: #ccc;
}
 button .badge {
  color: #fff;
  background-color: #333;
}
